<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактированние юзера</title>
</head>
<body>
<div>
    <form th:method="PATCH" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">
        <table>
            <tr>
                <th>
                    <label for="username">Введите username:</label>
                </th>
                <th>
                    <label for="password">Введите пароль:</label>
                </th>
                <th>
                    <label for="name">Введите имя:</label>
                </th>
                <th>
                    <label for="surname">Введите фам:</label>
                </th>
                <th>
                    <label for="age">Введите возраст:</label>
                </th>
                <th>
                    <label for="role"> Выберите роль:</label>
                </th>
            </tr>
            <tr>
                <td>
                    <input type="text" th:field="*{username}" id="username"/>
                </td>
                <td>
                    <input type="password" th:field="*{password}" id="password"/>

                </td>
                <td>
                    <input type="text" th:field="*{name}" id="name"/>
                </td>
                <td>
                    <input type="text" th:field="*{surName}" id="surname"/>
                </td>
                <td>
                    <input type="text" th:field="*{age}" id="age"/>
                </td>

                <td th:each="role : ${allRoles}">
                    <input name="rolesId" type="checkbox" th:text="${role.name}"
                           id="role" th:value="${role.id}" th:field="*{roles}"/>
                    <br/>
                </td>
            </tr>
            <tr>
                <th>
                    <input type="submit" value="Updatable">
                </th>
            </tr>
        </table>
        <hr/>
    </form>
</div>


<table>
    <tr>
        <th>
            <form th:align="center" th:action="@{/logout}">
                <button type="submit">Oh fuck here we go again</button>
            </form>
        </th>
        <th>
            <form th:action="@{/admin}">
                <button type="submit">go back</button>
            </form>
        </th>
    </tr>
</table>

</body>
</html>