<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Обязательные метатеги -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/dc0093b042.js" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <script>
        function show(shown, hidden) {
            document.getElementById(shown).style.display = 'block';
            document.getElementById(hidden).style.display = 'none';
            return false;
        }
    </script>
    <title>Admin panel</title>

</head>
<body>
<!--                                          todo           NAVBAR-->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <div>
            <b class="navbar-brand" th:text="${auth.getUsername()}"></b>
            <a class="navbar-brand" href="#"> with roles:</a>
            <a class="navbar-brand" href="#" th:text="${auth.getRolesString()}"></a>
        </div>

        <ul class="navbar-nav ms-auto mb-2 ms-lg-0 ">
            <li class="nav-item px-3">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<!--                                         todo           КОНЕЦ NAVBAR-->


<!--                                          todo          Колонки-->
<!--                                            todo        ADMIN PANEL-->
<div class="container-fluid" id="Page1">
    <div class="row">
        <div class="col-2 bg-white pt-3 min-vh-100 px-0">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#" onclick="return show('Page2','Page1');">User</a>
                </li>
            </ul>

            <!--                            todo             ALL USER-->
        </div>
        <div class="col bg-light" id="Page3">
            <b class="fs-1">Admin panel</b>
            <br>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">User table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="return show('Page4','Page3');">New user</a>
                </li>
            </ul>

            <div class="container-fluid border pt-0 pb-0 px-0">
                <p class="text-start fs-4 px-3 pb-0 mb-1">All users</p>
            </div>
            <div class="container-fluid border bg-white px-4 py-3 border-top">
                <table class="table table-striped table-borderless border-top">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Age</th>
                        <th scope="col">Email</th>
                        <th scope="col">Role</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr class="border-top" th:each="anyUsers: ${allUsers}">
                        <td th:text="${anyUsers.getId()}"></td>
                        <td th:text="${anyUsers.getName()}"></td>
                        <td th:text="${anyUsers.getSurName()}"></td>
                        <td th:text="${anyUsers.getAge()}"></td>
                        <td th:text="${anyUsers.getUsername()}"></td>
                        <td th:text="${anyUsers.getRolesString()}"></td>
                        <td>
                            <button type="button" class="btn text-white" style="background-color:rgb(23,162,184)"
                                    data-bs-toggle="modal" th:href="${'#updateForModel' + anyUsers.getId()}"> Edit
                            </button>
                        </td>
                        <td>
                            <!--                                             todo               BUTTON DELETE-->
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                    th:href="${'#deleteForModel' + anyUsers.getId()}"> Delete
                            </button>
                        </td>

                        <td>
                            <div th:each="userForDelete: ${allUsers}">
                                <!--                                            todo          МОДЕЛЬ Delete      -->
                                <div class="modal fade" th:id="${'deleteForModel' + userForDelete.getId()}"
                                     tabindex="-1"
                                     aria-labelledby="modalDelete"
                                     aria-hidden="true">

                                    <form th:method="delete" th:action="@{/admin}">
                                        <!--                                       todo     ХИДЕР МОДЕЛИ DELETE-->
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <p class="modal-title h4">Delete user</p>
                                                    <button type="button" class="btn-close"
                                                            data-bs-dismiss="modal"></button>
                                                </div>
                                                <!--                       todo                HEADER DELETE END-->

                                                <!--                      todo                  BODY DELETE-->


                                                <div class="modal-body">
                                                    <div class="container-fluid justify-content-center col-6">
                                                        <form>
                                                            <div class="form-group row mb-3">
                                                                <label for="userId" class="text-center h5"><b>
                                                                    ID </b></label>
                                                                <input type="text" name="id"
                                                                       th:value="${userForDelete.getId()}" readonly
                                                                       disabled
                                                                       class="text-center read-only" id="userId">
                                                            </div>

                                                            <div class="form-group row mb-3">
                                                                <label for="user_name" class="text-center h5"><b> First
                                                                    Name</b></label>
                                                                <input type="text" name="name"
                                                                       th:value="${userForDelete.getName()}" readonly
                                                                       disabled
                                                                       class="text-center" id="user_name">
                                                            </div>

                                                            <div class="form-group row mb-3">
                                                                <label for="surname" class="text-center h5"><b>Last
                                                                    Name </b></label>
                                                                <input type="text" name="surName"
                                                                       th:value="${userForDelete.getSurName()}" readonly
                                                                       disabled
                                                                       class="text-center" id="surname">
                                                            </div>

                                                            <div class="form-group row mb-3">
                                                                <label for="age" class="text-center h5"><b>
                                                                    Age </b></label>
                                                                <input type="text" name="age"
                                                                       th:value="${userForDelete.getAge()}" readonly
                                                                       disabled
                                                                       class="text-center" id="age">
                                                            </div>

                                                            <div class="form-group row mb-3">
                                                                <label for="email" class="text-center h5"><b>
                                                                    Email</b></label>
                                                                <input type="text" name="username" th:value="${userForDelete.getUsername()}"
                                                                       readonly disabled class="text-center" id="email">
                                                            </div>
                                                            <div class="form-group row mb-3">
                                                                <label for="role" class="text-center h5"><b>
                                                                    Email</b></label>
                                                                <select id="role" class="form-select" size="2" multiple
                                                                        aria-label="Roles" disabled>
                                                                    <option>USER</option>
                                                                    <option>ADMIN</option>
                                                                </select>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>

                                                <!--                                                   todo     BODY DELETE END-->
                                                <!--                                                   todo     футер модели DELETE        -->
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">Close</button>
                                                    <button type="submit" name="id" class="btn btn-danger"
                                                            th:value="${userForDelete.getId()}">del
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <!--                                                    todo    footer end-->
                            <!--                                                      todo      BUTTON DELETE END-->

                            <!--                                                                                    _________________________                                                           -->
                        </td>
                        <td>
                            <div th:each="userForUpdate: ${allUsers}">
                                <!--                                                    todo  МОДЕЛЬ UPDATE      -->
                                <div class="modal fade" th:id="${'updateForModel' + userForUpdate.getId()}"
                                     tabindex="-1"
                                     aria-labelledby="modalDelete" aria-hidden="true">
                                    <form th:method="patch" th:action="@{/admin}" th:object="${user}">
                                        <!--                                          todo  ХИДЕР МОДЕЛИ UPDATE-->
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <p class="modal-title h4">Delete user</p>
                                                    <button type="button" class="btn-close"
                                                            data-bs-dismiss="modal"></button>
                                                </div>
                                                <!--                                   todo    HEADER UPDATE END-->

                                                <!--                                todo        BODY UPDATE-->


                                                <div class="modal-body">
                                                    <div class="container-fluid justify-content-center col-6">
                                                        <form>
                                                            <div class="form-group row mb-3">
                                                                <label for="userIdf" class="text-center h5"><b> ID </b></label>
                                                                <input type="text" name="id"
                                                                       th:value="${userForUpdate.getId()}" readonly
                                                                       class="text-center read-only" id="userIdf">
                                                            </div>

                                                            <div class="form-group row mb-3">
                                                                <label for="user_namef" class="text-center h5"><b> First
                                                                    Name</b></label>
                                                                <input type="text" name="name"
                                                                       th:value="${userForUpdate.getName()}"

                                                                       class="text-center" id="user_namef">
                                                            </div>

                                                            <div class="form-group row mb-3">
                                                                <label for="surnamef" class="text-center h5"><b>Last
                                                                    Name</b></label>
                                                                <input type="text" name="surName"
                                                                       th:value="${userForUpdate.getSurName()}"
                                                                       class="text-center" id="surnamef">
                                                            </div>

                                                            <div class="form-group row mb-3">
                                                                <label for="agef" class="text-center h5"><b>
                                                                    Age </b></label>
                                                                <input type="number" name="age"
                                                                       th:value="${userForUpdate.getAge()}"
                                                                       min="10"
                                                                       class="text-center" id="agef">
                                                            </div>

                                                            <div class="form-group row mb-3">
                                                                <label for="emailf" class="text-center h5"><b>Email</b></label>
                                                                <input type="email" name="username"
                                                                       th:value="${userForUpdate.getUsername()}"
                                                                       class="text-center" id="emailf">
                                                            </div>
                                                            <div class="form-group row mb-3">
                                                                <label for="emaiasdlf" class="text-center h5"><b>Password</b></label>
                                                                <input type="password" name="username"
                                                                       th:field="*{password}"
                                                                       required
                                                                       class="text-center" id="emaiasdlf">
                                                            </div>

                                                            <div class="form-group row mb-3">
                                                                <label for="rolef"
                                                                       class="text-center h5"><b>roles</b></label>
                                                                <select id="rolef" class="form-select" size="2"
                                                                        name="roles"
                                                                        aria-label="Roles" multiple required>

                                                                    <option value="2">USER</option>
                                                                    <option value="1">ADMIN</option>
                                                                </select>
                                                            </div>

                                                        </form>
                                                    </div>
                                                </div>
<!--                                                                                    TODO OLEH-->
                                                <!--                                                   todo     BODY UPDATE END-->
                                                <!--                                                  todo      футер модели UPDATE        -->
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">Close
                                                    </button>
                                                    <button type="submit" class="btn btn-primary">Edit
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>

                            <!--                                                   todo     footer  UPDATE end-->
                            <!--                                                       todo     BUTTON UPDATE END-->

                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <!--                                           todo     all users end-->
<!--                                                    todo new user-->
<!--                                                          NEW USER-->

        <div class="col bg-light" id="Page4" style="display: none">
            <b class="fs-1">Admin panel</b>
            <br>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#" onclick="return show('Page3','Page4');">User
                        table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">New user</a>
                </li>

            </ul>
            <div class="container-fluid border pt-0 pb-0 px-0">
                <p class="text-start fs-4 px-3 pb-0 mb-1">Add new user</p>
            </div>
            <div class="container-fluid border bg-white px-3 py-3 border-top">

                <form th:method="POST" th:action="@{/admin}" th:object="${user}">
                        <div class="container-fluid justify-content-center col-4">
                            <form>

                                <div class="form-group row mb-3">
                                    <label for="newName" class="text-center h5"><b> First Name</b></label>
                                    <input type="text" name="name" th:field="*{name}"
                                           class="text-center opacity-50" id="newName">
                                </div>

                                <div class="form-group row mb-3">
                                    <label for="newSurname" class="text-center h5"><b>Last Name</b></label>
                                    <input type="text" name="surName" th:field="*{surName}"
                                           class="text-center opacity-50" id="newSurname">
                                </div>

                                <div class="form-group row mb-3">
                                    <label for="newAge" class="text-center h5"><b> Age </b></label>
                                    <input type="number" name="age" th:field="*{age}"
                                           min="10"
                                           class="text-center opacity-50" id="newAge">
                                </div>

                                <div class="form-group row mb-3">
                                    <label for="newEmail" class="text-center h5"><b>Email</b></label>
                                    <input type="email" name="username" th:field="*{username}"
                                           class="text-center opacity-50" id="newEmail">
                                </div>
                                <div class="form-group row mb-3">
                                    <label for="newPassword" class="text-center h5"><b>Password</b></label>
                                    <input type="text" name="username" th:field="*{password}"
                                           required
                                           class="text-center opacity-50" id="newPassword">
                                </div>

                                <div class="form-group row mb-3">
                                    <label for="newRole" class="text-center h5"><b>roles</b></label>
                                    <select id="newRole" class="form-select" size="2" name="roles"
                                            aria-label="Roles" multiple required>

                                        <option value="2">USER</option>
                                        <option value="1">ADMIN</option>
                                    </select>
                                </div>

                                <div class="form-group row mb-3 mx-auto col-6">
                                    <button type="submit" class="btn text-white "
                                            style="background-color:rgba(33,136,56,0.99) ">Add new user
                                    </button>
                                </div>

                            </form>
                        </div>

                </form>
            </div>
        </div>
    </div>
</div>

<!--                                                        END NEW USER-->
<div class="container-fluid" id="Page2" style="display: none">
    <div class="row">
        <div class="col-2 bg-white pt-3 min-vh-100 px-0">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#" onclick="return show('Page1','Page2');">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">User</a>
                </li>
            </ul>


        </div>
        <div class="col bg-light">
            <b class="fs-1">Admin panel</b>

<!--                                                                    todo userplate-->
            <div class="container-fluid border pt-0 pb-0 px-0">
                <p class="text-start fs-4 px-3 pb-0 mb-1">User information page</p>
            </div>
            <div class="container-fluid border bg-white px-4 py-3 border-top">
                <table class="table table-striped table-borderless border-top">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Age</th>
                        <th scope="col">Email</th>
                        <th scope="col">Role</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td th:text="${auth.getId()}"></td>
                        <td th:text="${auth.getName()}"></td>
                        <td th:text="${auth.getSurName()}"></td>
                        <td th:text="${auth.getAge()}"></td>
                        <td th:text="${auth.getUsername()}"></td>
                        <td th:text="${auth.getRolesString()}"></td>
                    </tr>
                    </tbody>
                </table>
        </div>
        </div>

    </div>
</div>


<!--JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
</script>
</body>
</html>

