<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новый юзер</title>
</head>
<body>

<form th:method="POST" th:action="@{/users}" th:object="${user}">
    <label for="name">Введите имя:</label>
    <input type="text" th:field="*{name}" id="name"/>
    <br>
    <label for="surname">Введите фамилию:</label>
    <input type="text" th:field="*{surName}" id="surname"/>
    <br>
    <label for="age">Введите возраст:</label>
    <input type="text" th:field="*{age}" id="age"/>
    <br>
    <input type="submit" value="CREATE"/>
</form>


</body>
</html>