<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

    <style>
        body {
            background-color: #d24dff
        }

        tr{
            background-color: greenyellow;
        }
    </style>
    <meta charset="UTF-8">
    <title>Юзер</title>
</head>
<body>



<div>
    <table th:align="center" th:border="1">
        <tr>
            <th>ID</th>
            <th>ИМЯ</th>
            <th>ФАМИЛИЯ</th>
            <th>ВОЗРАСТ</th>
        </tr>

        <tr>
            <td th:text="${user.getId()}">value</td>
            <td th:text="${user.getName()}">value</td>
            <td th:text="${user.getSurName()}">value</td>
            <td th:text="${user.getAge()}">value</td>
        </tr>
    </table>
</div>
<br/>
<hr/>

<div>
    <table th:align="center">
        <tr>
            <th>
            <form th:align="center" th:action="@{/users/{id}/edit(id=${user.getId()})}">
                <button type="submit">update</button>
            </form>
            </th>

            <th>
            <form th:align="center" th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">
                <input type="submit" value="Delete"/>
            </form>
            </th>
            <th>
                <form th:align="center" th:action="@{/users}">
                    <button type="submit">go back</button>
                </form>
            </th>
        </tr>
    </table>
</div>
<br>
<div>
    <table>
        <tr>
            <th>
<img src="https://c.tenor.com/8iMyvddJvmIAAAAd/gachimuchi-steve-rambo.gif"  th:align="left" th:width="300" th:height="400">
            </th>
            <th>
<iframe th:align="center" src="https://www.youtube.com/embed/QXe0Z6nNg7o?" th:autoplay="1" th:width="300" th:height="400" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </th>
            <th>
<img src="https://c.tenor.com/f8xOHJkF3RsAAAAC/mbstm-shrek-mbtsm.gif"   th:width="300" th:height="400" th:align="right">
            </th>
        </tr>
    </table>
</div>



</body>
</html>